%triangle-arrow {
    margin-left: -$datepicker__triangle-size;
    position: absolute;
  
    &,
    &::before {
      box-sizing: content-box;
      position: absolute;
      border: $datepicker__triangle-size solid transparent;
  
      height: 0;
      width: 1px;
    }
  
    &::before {
      content: "";
      z-index: -1;
      border-width: $datepicker__triangle-size;
  
      left: -$datepicker__triangle-size;
      border-bottom-color: $datepicker__border-color;
    }
  }
  
  %triangle-arrow-up {
    @extend %triangle-arrow;
  
    top: 0;
    margin-top: -$datepicker__triangle-size;
  
    &,
    &::before {
      border-top: none;
      border-bottom-color: $datepicker__background-color;
    }
  
    &::before {
      top: -1px;
      border-bottom-color: $datepicker__border-color;
    }
  }
  
  %triangle-arrow-down {
    display: block;
    width: 12px;
    height: 12px;
  
    &,
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23001927' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E ");
      background-position: right;
      background-repeat: no-repeat;
      background-size: 8px 6px;
    }
  }
  