$datepicker__background-color: $white !default;
$datepicker__border-color: $grey-60 !default;
$datepicker__highlighted-color: $green-40 !default;
$datepicker__muted-color: $grey-50 !default;
$datepicker__selected-color: $green-30 !default;
$datepicker__text-color: $grey-10 !default;
$datepicker__header-color: $blue-10 !default;
$datepicker__navigation-disabled-color: lighten(
  $datepicker__muted-color,
  10%
) !default;

$datepicker__border-radius: 0.5rem !default;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: $font-family-base !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;
