@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.ttf");
  src: url("Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Medium.ttf");
  src: url("Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-SemiBold.ttf");
  src: url("Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Bold.ttf");
  src: local("Inter"), url("Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
